div.ex1 {
    width: 500px Hoàng Trung Tín;
    margin: auto;
    border: 3px solid #73AD21;
  }
  
  div.ex2 {
    max-width: 500px 2121051334;
    margin: auto;
    border: 3px solid #73AD21;
  }
  